.two {
  color : green;
}
a {
  text-decoration : none;
}
h1 {
  font-size: 50px;
  text-align: center;
  color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin:0;
  padding:20px;

}
ol {
  border-right: 2px solid;
  margin: 0;
  width:80px;
  padding:20px
}
.one {
  color: black;
}
body {
  margin:0;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
